/*Global styling */
html {
    font-size: 62.5%; /*10px, 1rem = 10px*/
}
:root {
    --main-blue:#0065FC;
    --blue-light:#DEEBFF;
    --grey-background:#F2F2F2;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: medium;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
/*Nav section */
.main-head {
width: 100%;
}
nav{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    flex: 1 2 4.1rem;
    margin-top: 3rem;
}
nav ul {
    font-size: 1.7rem;
    display: flex;
    justify-content: space-around;
    list-style: none;
    flex: 1;
}
#logo {
   min-width: 13.1rem;
   min-height: 4.1rem;
   flex: 2;
}
nav li {
    margin-right: 2rem;
}
/* Section with search form*/
.search {
    width: 90%;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.search h1 {
    margin-bottom: 1rem;
}
.search p{
    margin-left: 0;
    margin-bottom: 1rem;
}
.search form {
    margin-bottom: 2rem;
}
.filtr {
    margin-bottom:2.5rem;
    display: flex;
}

/* Hotel section*/

.hotels {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;    
}
.left-box{
    margin-right: 4.2rem;
    flex-direction: column;
    background-color: var(--grey-background);
    flex: 2;
    border-radius: 20px;
}
.container-left{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2.7rem;

}
.card{
    width:auto;
    height: auto;
    background-color: white;
    border: solid white 5px;
    border-radius: 20px;
    margin-bottom: 3rem;   
}
.card h3, p {
    margin: 1rem;
}
.right-box {
    flex-direction: column;
    background-color: var(--grey-background);
    flex: 1;
    border-radius: 20px;
}
.right-box h1 {
    margin-top: 2.3rem;
    margin-bottom: 3rem;
    margin: 2.7rem;
}
.card-pop{
    display: flex;
    flex-direction: row;
    width:auto;
    height: auto;
    border: solid white 5px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
}
.card-pop h3, p {
    margin-left:2rem;
    margin-top: 1rem;
}
.card img {
    object-fit: cover;
    min-width: 253px;
    height:118px;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
}
.card-pop img {
    object-fit: cover;
    width: 139px;
    height: 137px;
    border-top-left-radius:20px;
    border-bottom-left-radius:20px;
}
.card-pop-text{
    display: flex;
    flex-direction: column;
}
.left-box h1 {
    margin-top: 3rem;
    margin-bottom: 2rem;
    margin: 2.7rem;
}
.left-box a {
    color: black;
    margin: 2.7rem;
}
/*Footer */
footer{
    background-color: var(--grey-background);
}
.footer-container{
    width: 90%;
    margin: auto;
    background-color:var(--grey-background);
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}
.about{
    flex: 1;
}
.our-hotels {
    flex: 1;
}
.help{
    flex: 1;
}
