/*Global styling */
html {
    font-size: 62.5%; /*10px, 1rem = 10px*/
}
:root {
    --main-blue:#0065FC;
    --blue-light:#DEEBFF;
    --grey-background:#F2F2F2;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
/*Nav section */
.main-head {
width: 100%;
}
nav{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    flex: 1 2 4.2rem;
    margin-top: 2.7rem;
}
nav ul {
    font-size: 1.7rem;
    display: flex;
    justify-content: space-around;
    list-style: none;
    flex: 1;
}
#inscription-ref {
    opacity: 0.8;
    font-weight: bold;
    color:#0065FC;
}
#activity-ref {
    opacity: 0.8;
    font-weight: medium;
    color:#000000;
}
#hotels-ref{
    opacity: 0.8;
    font-weight: semi-bold;
    color:#0065FC;
    border-top-style: solid;
    border-width: 2px;
    border-color: var(--main-blue);
    padding-top: 4.6rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
#logo {
    margin-top: 1.3rem;
   min-width: 13.1rem;
   min-height: 4.1rem;
   flex: 2;
}
nav li {
    margin-right: 2rem;
   
}
/* Section with search form*/
.search {
    width: 90%;
    margin: auto;
    margin-top: 3.4rem;
    margin-bottom: 2rem;
}
.search h1 {
    font-size: 2.2rem;
    font-weight: bold;
}
.search p{
    margin-left: 0;
}

.search form {
    margin-top: 2.2rem;
    display: flex;
    
    margin-bottom: 2rem;
}
form i{
    font-size: 1.7rem;
    width: 5rem;
    height: 5rem;
    padding-top: 1.2rem;
    text-align: center;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    background-color:var(--grey-background) ;
}
::placeholder{
    font-size: 1.8rem;
    font-weight:700;
    color: black;
    opacity: 1;
    font-family: 'Raleway', sans-serif;
}
form input {
    width: 240px;
    height: 5rem;
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
    padding-left: 1.5rem;
    border-style: solid;
  border-width: 1px;
  border-color: var(--grey-background);
       
}
form button {
    border: none;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    background-color: var(--main-blue);
    color: white;
    font-weight: 700 ;
    font-size: 1.8rem;
    font-family: 'Raleway', sans-serif;
}
/* FILTRES SECTION*/


.filtr {
    margin-bottom:2.5rem;
    display: inline-flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: bold;
    margin-left: 1rem;
    margin-top: 0.8rem;
    
}
.filtre-i {
    border-style: solid;
    border-radius: 50px;
    border-color:var(--grey-background);
    border-width: 2px;
    padding-right: 2rem;
    margin-left: 2.6rem;
}
.filtre-i i{
    font-size: 2rem;
    width:50px;
    height: 50px;
    text-align: center;
    padding-top: 1.2rem;
    border-radius: 50px;
    background-color:var(--blue-light);
    color: var(--main-blue);
    margin-right: 1rem;    
}
.info-icon {
    display: flex;
    align-items: center;
}
.info-icon i {
    padding-top: 0.5rem;
    font-size: 1.2rem;
    text-align: center;
    margin-left: 0.5rem;
    width: 2.6rem;
    height: 2.6rem;
    color: var(--main-blue);
    border-style: solid;
    border-color: var(--grey-background);
    border-radius:50px;
    border-width: 1px;
    margin-right: 1rem;
}
.info-icon p{
}

/* Hotel section*/

.hotels {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;    
}
.left-box{
    margin-right: 4.2rem;
    background-color: var(--grey-background);
    flex: 2;
    border-radius: 20px;
}
.container-left{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;

}
.card{
    width:auto;
    height: auto;
    background-color: white;
    border: solid white 5px;
    border-radius: 20px;  
    margin-bottom: 3.3rem;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}
.card p{
    font-size: 1.3rem;
    margin-left: 1rem;
    margin-bottom: 0.7rem;
}
.card h3{
    margin-top: 1rem;
    margin-bottom: 0.7rem;
    margin-left: 1rem;
    font-size: 1.6rem;
}
.stars{
    margin-left: 1rem;
    margin-bottom: 0.7rem;

}

.right-box {
    background-color: var(--grey-background);
    flex: 1;
    border-radius: 20px;
}
.mini-header{
    width: 80%;
    margin-left: 4.8rem;
    margin-right: 4.8rem;
    margin-top:5rem ;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mini-header h1{
    font-size: 2.2rem;
}
.icon-pop{
    font-size: 2.2rem;
}
.card-pop{
    display: flex;
    flex-direction: row;
    width:80%;
    height: auto;
    border: solid white 5px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 3.2rem ;
    margin-left:4.8rem ;
    margin-right:4.8rem ;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}
.card-pop h3, p {
    margin-left:2rem;
    margin-top: 1rem;
}
.card-pop h3{
    font-size: 1.6rem;
}
.card-pop p{
    font-size: 1.3rem;
}
.card img {
    object-fit: cover;
    min-width: 245px;
    height:116px;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
}
.card-pop img {
    object-fit: cover;
    width: 139px;
    height: 137px;
    border-top-left-radius:20px;
    border-bottom-left-radius:20px;
}
.card-pop-text object{
    padding-left: 1rem;
    margin-top: 4rem;
    justify-self: flex-end;
      
}
.left-box h1 {
    font-size: 2.2rem;
    margin-top: 5rem;
    margin-left: 4rem;
}
.left-box a {
    display: block;
    color: black;
    font-size: 1.8rem;
    font-weight: 700;
    margin-left: 4rem;
    margin-top: 1rem;
    margin-bottom: 4.5rem;
}
/*Activity section */
.activity-sec{
    width: 90%;
    margin: auto;
}
.activity-sec h1{
    font-size: 2.2rem;
    margin-bottom: 2.5rem;
    margin-top: 6rem;
}
.activity{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 4rem;
    margin-bottom: 5.8rem;
}
.activity img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.activity-photo {
    display: flex;
    flex-direction: column;
 border-radius: 20px;
 overflow: hidden;
 perspective: 1px;
 box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.activity-photo figcaption{
padding: 20px;
font-weight: 700;
font-size: 1.6rem;
}
.activ-card-2 figcaption{
    padding: 20px;
    font-weight: 700;
font-size: 1.6rem;
}
#photo5 figcaption{
   padding: 22px;
}
#photo6 figcaption{
    padding: 20px;
}
.activ-card-2{
}
#photo2 {
    border-radius: 20px;
    overflow: hidden;
    perspective: 1px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 4rem;
    font-weight: 700;
font-size: 1.6rem;
}
#photo3 {
    flex: none;
    border-radius: 20px;
    overflow: hidden;
    perspective: 1px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.active-card-5 {
   
    font-weight: 700;
    font-size: 1.6rem;
    
}
#photo5{
    flex: none;
    border-radius: 20px;
    overflow: hidden;
    perspective: 1px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 6rem;
}
#photo6{
    flex: none;
    border-radius: 20px;
    overflow: hidden;
    perspective: 1px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}
/*Footer */
footer{
    background-color: var(--grey-background);
}
.footer-container{
    width: 90%;
    margin: auto;
    background-color:var(--grey-background);
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}
.footer-container h2{
    font-size: 1.8rem;
}
.about{
    flex: 1;
    margin-bottom: 4rem;
}
.our-hotels {
    flex: 1;
}
.help{
    flex: 1;
}
footer h2 {
    margin-top: 4.5rem;
    margin-bottom: 2rem;
}
footer a {
    color:black;
}
footer li {
    margin-bottom: 1.2rem;
}
/*MOBILE VERSION */
@media only screen and (max-width:1440px){
    .card-pop img {
        object-fit: cover;
        min-width: 253px;
        border-top-left-radius:20px;
        border-top-right-radius:20px;
    }
}